body {
    background-color: #94D9E9;
}

#logo {
    width: 500px;
    height: 169px;
    padding-top: 30px;
    margin: auto;
    text-align: center;
}

#logginnboks {
    width: 550px;
    height: 350px;
    background: #51AFC5;
    border-radius: 31px;
    margin: auto;
    padding: 10px;
    text-align: center;
}

#registrerboks {
    width: 550px;
    height: 500px;
    background: #51AFC5;
    border-radius: 31px;
    margin: auto;
    padding: 10px;
    text-align: center;
}

#startsideboks {
    width: 550px;
    height: 350px;
    background: #51AFC5;
    border-radius: 31px;
    margin: auto;
    padding: 10px;
    text-align: center;
}

#lobbyboks{
    width: 550px;
    height: 450px;
    background: #51AFC5;
    border-radius: 31px;
    margin: auto;
    padding: 10px;
    text-align: center;
}

#spillboks{
    width: 40%;
    height: 50%;
    background: #51AFC5;
    border-radius: 31px;
    float: left;
    padding: 20px;
    text-align: center;
    margin-left: 10%;
    align-items: center;
}

#tekst1 {
    width: 600px;
    color: white;
    position: absolute;
    font-family: Roboto Condensed;
    font-weight: normal;
    font-size: 30px;
    opacity: 1;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 30px;
    margin-bottom: 50px;

}

#vanligtekst {
    color: white;
    font-family: Roboto Condensed;
    font-weight: normal;
    font-size: 30px;
    text-align: center;
    margin: 10px;
}

#overskrift{
    color: white;
    padding-top: 5px;
    padding-bottom: 10px;
    font-family: Roboto Condensed;
    font-weight: normal;
    font-size: 30px;
    margin-left: 37.5%;
}

#overskriftspill{
    color: #0E819B;
    padding-top: 5px;
    padding-bottom: 10px;
    font-family: Roboto Condensed;
    font-weight: normal;
    font-size: 30px;
    text-align: center;
}

#terningresultattekst {
    color: white;
    font-family: Roboto Condensed;
    font-weight: normal;
    font-size: 24px;
    text-align: center;
}

#inputfelt {
    padding-top: 30px;
}

#inputogknapp {
    padding-top: 80px;
}

#listeknapp {
    padding-top: 5px;
    width: 25%;
    margin-left: 42%;
}

#terningknapp{
    position: center;
    font-size: medium;
    text-align: center;
    padding: 12px 60px;
    margin-left: 45%;

}

#startsideknapp {
    position:   fixed;
    top:        5px;
    left:       10px;
    text-align: left;
    width: 12%;
}

#loggutknapp {
    width: 10%;
    position:fixed;
    right:1%;
    top:10px;
}

#oppdaterknapp {
    width: 10%;
    position: fixed;
    right: 10%;
    top: 10px;
    text-align: center;
}


#spillterninger {
    padding-top: 30%;
    margin-top: 30%;
}


input[type=text], select {
    width: 60%;
    padding: 12px 60px;
    margin: 8px 0;
    display: inline-block;

    border-radius: 31px;
    box-sizing: border-box;
    text-align: center;
}

input[type=password], select {
    width: 60%;
    padding: 14px 20px;
    margin: 8px 0;
    display: inline-block;

    border-radius: 31px;
    box-sizing: border-box;
    text-align: center;
}

input[type=submit] {
    width: 60%;
    background-color: #0E819B;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 31px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #0B667A;
}

a {
    color: white;
    font-family: Roboto;
    font-style: Italic;
    font-size: 15px;
}

a:hover {
    color: #0E819B;
}

div[data-info] {
    width: 60%;
    background-color: #0E819B;
    color: white;
    padding: 14px 20px;
    margin: auto;
    border: none;
    border-radius: 31px;
    cursor: pointer;
    text-align: center;}

div[data-info] p {
    width: 60%;
    background-color: #0E819B;
    color: white;
    padding: 14px 20px;
    margin: auto;
    border: none;
    border-radius: 31px;
    cursor: pointer;
    text-align: center;}